<article class="tweet">
  <header class="tweet-header">
    <a class="author-link">
      <img
        id="profile-picture"
        alt="PFP"
        (click)="toUserProfile()"
      />
    </a>
  </header>

  <section class="tweet-content">
    <p>{{ tweet.content }}</p>
  </section>

  <footer class="tweet-footer">
    <time [attr.datetime]="tweet.createdAt">
      {{ tweet.createdAt | date : "medium" }}
    </time>
    <nav class="response-info" aria-label="Tweet actions">
      <button>❤️ LIKES</button>
      <button>💬 RESPONSES</button>
    </nav>
  </footer>
</article>
