<article class="tweet">
  <header class="tweet-header">
    <a class="author-link">
      <img
        [src]="apiUrl + pfpAttachment.url"
        id="profile-picture"
        alt="PFP"
        (click)="toUserProfile()"
      />
      <h3>{{ user.username}}</h3>
      <p>{{isCurrentUserFollowingAuthorBool ? "Following" : ""}}</p>
    </a>
  </header>

  <section class="tweet-content">
    <p>{{ tweet.content }}</p>
  </section>

  @for (att of attachments; track att.id) {
    @if (isImage(att)) {
      <img
        [src]="apiUrl + att.url"
        alt="Tweet Attachment"
        width="300"
        height="300"
        class="tweet-image">
    }
  }

  <footer class="tweet-footer">
    <time [attr.datetime]="tweet.createdAt">
      {{ tweet.createdAt | date : "medium" }}
    </time>
    <nav class="response-info" aria-label="Tweet actions">
      <button>❤️ LIKES</button>
      <button>💬 RESPONSES</button>
    </nav>
  </footer>
</article>
