<header class="app-header">

  <a class="logo-section" aria-label="Home">
    <img (click)="toMainPage()" src="assets/logo.png" id="logo" alt="App Logo"/>
  </a>

  <div class="header-center">
    <nav class="nav-links">
      <button class="nav-btn" (click)="toMainPage()">Home</button>
      <button class="nav-btn" (click)="toChat()">Chat</button>
      <button class="nav-btn" (click)="toMyPage()">Me</button>
    </nav>

    <form class="search-form" role="search" (ngSubmit)="onSearch()">
      <input
        id="searchBar"
        [(ngModel)]="searchQuery"
        name="searchQuery"
        type="search"
        placeholder="Search..."
      />
      <button type="submit" id="searchButton" aria-label="Search">Search</button>
    </form>
  </div>

  <div class="user-section">
    @if (user?.profilePictureUrl) {
      <img class="pfp"
           [src]="pfpApiUrl + user?.profilePictureUrl"
           alt="Profile">
    }
    <div class="user-info">
      <span class="username">{{ user ? user.username : "Guest" }}</span>
      <button (click)="loginLogout()" class="action-btn">
        {{ user ? "Logout" : "Login" }}
      </button>
    </div>
  </div>

</header>
