<header class="app-header">
  <a class="logo-link" aria-label="Home">
    <img src="assets/logo.png" id="logo" alt="App Logo"/>
  </a>

  <form class="search-form" role="search" aria-label="Site search">
    <input
      id="searchBar"
      [(ngModel)]="searchQuery"
      name="searchQuery"
      type="search"
      placeholder="Type to search..."
    />
    <button type="submit" id="searchButton">🔍</button>
  </form>

  <nav id="login-controls" aria-label="User actions">
    <div class="user-container">

      @if (user?.profilePictureUrl) {
        <img class="pfp"
             [src]="pfpApiUrl + user?.profilePictureUrl"
             alt="Your profile picture">
      }

      <div class="user-info">
        <p>{{ user ? user.username : "Not logged in" }}</p>
        <button (click)="loginLogout()" class="button">
          {{ user ? "Logout" : "Login" }}
        </button>
      </div>

    </div>
  </nav>
</header>
