<div id=loginForm>
  <h2>Register</h2>
  <form (ngSubmit)="onRegister()">
    <label>Username:</label>
    <input type="text" [(ngModel)]="username" name="username" required />

    <label>Password:</label>
    <input type="password" [(ngModel)]="password" name="password" required />

    <label>Email:</label>
    <input type="email" [(ngModel)]="email" name="email" required>

    <button type="submit">Register</button>
  </form>
  <h3>Have an account already?</h3>
  <button (click)="toLogin()" id="toLogin" type="button">Login</button>
</div>
