<div id=loginForm>
  <h2>Register</h2>
  <form (ngSubmit)="submit()">
    <label>Username:</label>
    <input type="text" [(ngModel)]="login().username" name="username" required />

    <label>Display Name:</label>
    <input type="text" [(ngModel)]="login().displayName" name="displayName" required>

    <label>Password:</label>
    <input type="password" [(ngModel)]="login().unhashedPassword" name="password" required />

    <button type="submit">Register</button>
  </form>
  <button type="button" (click)="fileInput.click()">Select profile picture</button>
  <input
    type="file"
    accept="image/*"
    hidden
    #fileInput
    (change)="onFileSelected($event)"
  >

  <p *ngIf="selectedFile">
    Selected: {{ selectedFile?.name }}
  </p>

  <h3>Already have an account?</h3>
  <button (click)="toLoginPage()" id="toRegister">Login</button>
</div>
