.app-header {
  display: flex;
  flex-direction: row;

  text-align: center;
  justify-content: space-between;
  background-color: #6a0dad;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#search {
  display: flex;
  flex-direction: row;
  width: 60%;
}

#searchBar {
  font-size: 15px;
  width: 100%;
}

.button {
  padding: 8px 12px;
  border: 2px solid #01cdfe;
  background: #ff71ce;
  color: black;
  font-weight: 600;
  cursor: pointer;
  font-size: 10px;
}
