<div class="app-header">
  <h1 class="pageHeader">Purple media</h1>
  <div class="navigationButtons">
    <a
      class="navigationButton"
      href="http://instagram.com/general_maks1"
      target="_blank"
      >Instagram</a
    >
    <a class="navigationButton" href="http://t.me/general_maks" target="_blank">
      Telegram</a
    >
    <a
      class="navigationButton"
      href="http://www.linkedin.com/in/maksym-zinets-ba1330318"
      target="_blank"
      >Linkedin</a
    >
  </div>
</div>
